<h1>Add a new parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="parcel_name">Parcel name</label>
    <input id="n" class="form-control" type="text" name="parcel_name">

    <label for="parcel_width">Parcel width</label>
    <input id="n" class="form-control" type="text" name="parcel_width">

    <label for="parcel_height">Parcel height</label>
    <input id="n" class="form-control" type="text" name="parcel_height">

    <label for="parcel_weight">Parcel weight</label>
    <input id="n" class="form-control" type="text" name="parcel_weight">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
